---
import Title from "./Title.astro";

const { title, link, id } = Astro.props;
---

<section id={id ?? ""} class="px-2 py-6 md:px-6">
  <div class="flex w-full justify-between">
    <Title twColor={title.twColor}>{title.text}</Title>
    {
      link && (
        <a
          class={[
            "text-xl italic underline underline-offset-4",
            title.twColor ?? "text-gallery-500 dark:text-shark-300",
          ].join(" ")}
          href={link.to}>
          {link.label}
        </a>
      )
    }
  </div>
  <slot />
</section>
