---
import type { IHeroProps } from "@/types";
import Description from "./Description.astro";
import HeroImage from "./HeroImage.astro";
import { getI18N } from "@/i18n";

const { name } = Astro.props as IHeroProps;
const { currentLocale } = Astro;
const i18n = getI18N({
  currentLocale,
});
---

<section
  class="relative mt-10 w-full flex flex-col gap-y-6 text-lg text-gallery-600 dark:text-shark-300 sm:text-2xl">
  <p class="font-extralight text-gallery-700 dark:text-shark-200">
    {i18n.HERO.INTRODUCTION}
  </p>
  <div class="relative h-[24rem]">
    <div class="absolute left-1/2 z-20 -translate-x-1/2 whitespace-nowrap">
      <h1 class="tracking-tight">
        {name}
      </h1>
    </div>
    <div class="absolute left-1/2 -translate-x-1/2 top-10">
      <HeroImage />
    </div>
  </div>

  <Description />
</section>

<style>
  section {
    @apply mx-auto mb-6 max-w-7xl px-4 md:px-6;
  }
</style>
