---
const { currentLocale } = Astro
---

<footer class="container mb-8 flex flex-col items-center justify-end gap-4 sm:mb-4">
	<div class="grid grid-cols-4 gap-4"></div>
	<a
		class="mt-2 text-xs font-extralight italic dark:text-stone-200"
		href="https://www.flaticon.com/free-icons/knight"
		title="knight icons">Icons created by Freepik - Flaticon</a
	>
</footer>
