---
import ThemeIcon from "@/components/theme/ThemeIcon.astro"
import LanguageSelector from "@/components/LanguageSelector.astro"

const pathname = new URL(Astro.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

const goto =
	currentPath === "projects" ? { name: "Home", to: "/" } : { name: "Projects", to: "/projects" }
---

<header class="container flex h-[80px] items-center justify-between px-4 md:px-6">
	<a class="font-outfit text-2xl font-semibold dark:font-semibold dark:text-light" href="/">
		<div id="img-logo"></div></a
	>
	<nav class="flex items-center gap-8 px-2">
		<a class="block text-lg dark:text-light" href={goto.to}>{goto.name}</a>
		<ThemeIcon />
	</nav>
	<LanguageSelector />
</header>
