---
import ThemeIcon from "@/components/theme/ThemeIcon.astro"
import LanguageSelector from "@/components/LanguageSelector.astro"
import { getI18N } from "@/i18n"
import Link from "./Link.astro"
import {
	getLangFromUrl,
	useTranslatedPath,
	useTranslations,
} from "@/i18n/utils"

const pathname =
	new URL(
		Astro.url
	)
		.pathname
const currentPath =
	pathname.slice(
		1
	) // remove the first "/"
const {
	currentLocale,
} =
	Astro

const i18n =
	getI18N(
		{
			currentLocale,
		}
	)

const lang =
	getLangFromUrl(
		Astro.url
	)
const t =
	useTranslations(
		lang
	)
const translatePath =
	useTranslatedPath(
		lang
	)

console.log(
	"currentPath, lang +",
	currentPath,
	lang +
		"/projects"
)

const navigationLinks =
	currentPath ===
	lang +
		"/projects/"
		? [
				{
					name:
						"Home",
					to: translatePath(
						"/"
					),
				},
			]
		: [
				{
					name:
						i18n
							.HEADER
							.PROJECTS,
					to: translatePath(
						"/projects/"
					),
				},
				{
					name:
						i18n
							.STACK
							.TITLE,
					to: "#techs",
				},
				{
					name:
						i18n
							.EXPERIENCE
							.TITLE,
					to: "#experience",
				},
			]
---

<header
	class="container flex h-[80px] items-center justify-between px-4 md:px-6">
	<a
		class="font-outfit text-2xl font-semibold dark:font-semibold dark:text-light"
		href="/">
		<div
			id="img-logo">
		</div></a
	>

	<nav
		class="flex items-center gap-8 px-2">
		{
			navigationLinks.map(
				(
					navLink
				) => (
					<Link
						classes="uppercase"
						to={
							navLink.to
						}>
						{
							navLink.name
						}
					</Link>
				)
			)
		}
	</nav>
	<div
		class="flex items-center gap-4">
		<ThemeIcon
		/>
		<LanguageSelector
		/>
	</div>
</header>
