---
import { info } from "@data"

import MetaHead from "@components/general/MetaHead.astro"

import Layout from "@layouts/Layout.astro"
import Home from "./home.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<MetaHead
			title={"Portfolio"}
			description={info.about}
			ogImageUrl={"/assets/images/profile.png"}
		/>
		<style>
			section {
				@apply mx-auto max-w-[1112px] sm:px-4 md:px-10;
			}
		</style>
	</head>

	<body>
		<Layout>
			<Home />
		</Layout>
	</body>
</html>
