---
const icons_dir = "/assets/icons/";
---

<div class="">
  <span
    >A front-end engineer from Barcelona. I am currently learning Astro and
    Typescript, and expanding my knowledge of Nextjs. Out of web development, my
    other passions are
  </span>
  enduro <img
    class="inline"
    alt="enduro image"
    src={icons_dir + "motocross.png"}
    height={30}
    width={30}
  />, football <img
    src={icons_dir + "soccer.png"}
    class="inline"
    alt="soccer image"
    height={25}
    width={25}
  />
  , chess <img
    class="inline"
    alt="chess image"
    src={icons_dir + "chess.png"}
    height={25}
    width={25}
  /> and bass <img
    class="inline"
    alt="bass image"
    src={icons_dir + "bass.png"}
    height={30}
    width={30}
  />
</div>
