---
import { IHeroProps } from "@types";
const { name } = Astro.props as IHeroProps;
const icons_dir = "/assets/icons/";
---

<section
  class="text-stone-600 flex flex-col justify-evenly dark:text-stone-300 font-extralight text-lg sm:text-2xl lg:text-3xl h-screen -mt-10"
>
  <div class="flex flex-col gap-10">
    <p class="dark:text-stone-200 mt-[117px]">
      Welcome to my virtual resume! My name is
    </p>

    <h1>{name}</h1>
  </div>
  <div class="mb-14 leading-loose">
    <span
      >A front-end engineer from Barcelona. I am currently learning Astro and
      Typescript, and expanding my knowledge of Nextjs. Out of web development,
      my other passions are
    </span>
    enduro <img
      class="inline"
      alt="enduro image"
      src={icons_dir + "motocross.png"}
      height={30}
      width={30}
    />, football <img
      src={icons_dir + "soccer.png"}
      class="inline"
      alt="soccer image"
      height={25}
      width={25}
    />
    , chess <img
      class="inline"
      alt="chess image"
      src={icons_dir + "chess.png"}
      height={25}
      width={25}
    /> and bass <img
      class="inline"
      alt="bass image"
      src={icons_dir + "bass.png"}
      height={30}
      width={30}
    />.
  </div>
</section>

<style>
  section {
    @apply max-w-[1112px] mx-auto px-4 md:px-6;
  }
</style>
