---
import type { IHeroProps } from "@types"
import Description from "./Description.astro"
import HeroImage from "./HeroImage.astro"

const { name } = Astro.props as IHeroProps
---

<section
  class="text-stone-600 flex flex-col mt-10 gap-10 relative w-full dark:text-stone-300 font-extralight text-lg sm:text-2xl lg:text-3xl"
>
  <div class="flex flex-col xl:flex-row xl:gap-10 items-center h-3/5">
    <div class="flex flex-col gap-10 w-full lg:w-2/3">
      <p class="dark:text-stone-200">
        Welcome to my virtual resume! My name is
      </p>

      <h1>{name}</h1>
    </div>
    <div class="aspect-square lg:w-1/3 h-96">
      <HeroImage />
    </div>
  </div>
  <div class="leading-relaxed mx-auto flex items-center text-3xl">
    <Description />
  </div>
</section>

<style>
  section {
    @apply max-w-6xl mx-auto px-4 md:px-6;
    margin-bottom: 80px;
  }
</style>
