---
 import { stack } from "@data";
---

<section
  class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
>
  <h2
    class="w-[15rem] text-2xl sm:text-xl mt-16 text-zinc-600/50 dark:text-zinc-300/50 font-bold border-b sm:border-none"
  >
    
  </h2>
  <div class="w-full">
    <!-- { stack.map((item) => (
        <div>
         {item}
        </div>
      ))
    } -->
  </div>
</section>
