---
//import ChevronIcon from "@/components/icons/Chevron.astro"
import { LANGUAGES } from "../i18n/ui"
import {
	getRouteFromUrl,
	useTranslatedPath,
	getLangFromUrl,
} from "../i18n/utils"
import LanguageOption from "./LanguageOption.astro"

const route =
	getRouteFromUrl(
		Astro.url
	)
const lang =
	getLangFromUrl(
		Astro.url
	)
const translatePath =
	useTranslatedPath(
		lang
	)

const currentLocaleData =
	LANGUAGES[
		lang
	]
const otherLocales =
	Object.values(
		LANGUAGES
	).filter(
		(
			locale
		) =>
			locale.code !==
			lang
	)
---

<div
	class="relative inline-block w-28"
>
	<div
		class="group rounded-md bg-black/30 text-xs text-white transition-all hover:bg-black/70"
	>
		<button
			type="button"
			aria-expanded="true"
			aria-haspopup="true"
		>
			<LanguageOption
				flag={currentLocaleData.flag}
				name={currentLocaleData.name}
			/>
		</button>
		<ul
			class="group-hover:animate-fade-down group-hover:animate-duration-200 absolute hidden w-full pt-0.5 group-hover:block"
		>
			{
				otherLocales.map(
					(
						locale
					) => (
						<li class="py-[2px]">
							<a
								class="whitespace-no-wrap inline-flex w-full items-center justify-start gap-x-2 rounded-md bg-black/30 px-2 py-1 text-white hover:bg-black/70"
								href={translatePath(
									`/${route ? route : ""}`,
									locale.code
								)}
							>
								<div class="overflow-hidden rounded">
									<locale.flag />
								</div>
								<span class="flex text-xs font-light" />
								{
									locale.name
								}

								[
								{
									locale.symbol
								}

								]
							</a>
						</li>
					)
				)
			}
		</ul>
	</div>
</div>
