---
import { Image } from "astro:assets";

const props = Astro.props as {
  flag: any;
  text: string;
  to?: string;
};

const { text, to } = props;
---

<a
  href={to}
  aria-label={text}
  class="flex w-full items-center justify-around rounded-md text-gallery-800 dark:text-shark-200 hover:text-gallery-950 hover:dark:text-shark-50">
  <Image width={24} height={16} src={props.flag} class="rounded" alt="flag" />

  <span class="hidden sm:block px-1 text-sm">{text} </span>
</a>
