---
import { dictionary } from "src/data/stack"
import { Image } from "astro:assets"

const { element } = Astro.props
const el: { name: string; img: string; value: number; color: string } = dictionary[element]
---

<div
	class="group relative flex aspect-square w-[5.2em] items-center justify-center opacity-90 transition-all duration-300 ease-in-out hover:z-20 hover:scale-105 hover:opacity-100"
>
	<div class="pointer-events-none">
		<span
			class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-[8em]"
			style={{
				color: el.color,
			}}
		>
			&#x2B22;
		</span>

		<Image
			src={el.img}
			class="absolute left-1/2 top-1/2 w-10/12 -translate-x-1/2 -translate-y-6 md:-translate-y-8 lg:-translate-y-9 xl:-translate-y-10"
			alt="tech stack"
			height={100}
			width={100}
		/>
	</div>
	<p
		class="pointer-events-none invisible absolute -bottom-14 whitespace-nowrap rounded bg-slate-900/75 p-1 font-sans text-3xl font-light text-white group-hover:visible"
	>
		{el.name}
	</p>
</div>
