---
import Hexagon from "./Hexagon.astro";

const { category, techs, firstHalf } = Astro.props;
---

<div
  class={`row h-[4.7em] flex ${
    firstHalf ? "odd:ml-[2.6em]" : "justify-end even:mr-[2.6em]"
  }`}
>
  <h4
    class="absolute z-20 text-zinc-800 dark:text-zinc-200 text-[11px] md:text-2xl left-3 md:left-[15%] opacity-50 font-extralight italic font-mono"
  >
    {category}
  </h4>
  {techs.map((el) => <Hexagon element={el} />)}
</div>

<style></style>
