---
import Hexagon from "./Hexagon.astro";

const { category, techs, firstHalf } = Astro.props;
---

<div
  class={`row h-[4.7em] flex ${
    firstHalf ? "odd:ml-[2.6em]" : "justify-end even:mr-[2.6em]"
  }`}
>
  <h4
    class="absolute mt-6 z-20 dark:text-cyan-100 text-md sm:text-lg md:text-xl lg:text-2xl left-3 xs:left-8 md:left-16 lg:ml-5 font-extralight italic"
  >
    {category}
  </h4>
  {techs.map((el) => <Hexagon element={el} />)}
</div>

<style></style>
