---
import HexagonRow from "./HexagonRow.astro"

const { stack } = Astro.props
const splitedArr = stack
---

<section class="flex w-full flex-col items-center justify-center bg-cyan-900 dark:text-light">
	<h2 class="mb-1 ml-4 self-start text-3xl font-bold text-cyan-100 md:ml-0">My stack</h2>
	<div class="colorful-gradient mx-auto mt-2 w-full py-1 md:mt-6 md:rounded-xl md:px-1 lg:p-3">
		<div
			class="relative flex flex-col flex-wrap content-center justify-center pb-5 text-white md:rounded-lg"
		>
			{
				splitedArr.map((row, indx, arr) => {
					return (
						<HexagonRow
							category={row.category}
							techs={row.tech}
							firstHalf={indx < Math.ceil(arr.length / 2)}
						/>
					)
				})
			}
		</div>
	</div>
</section>
<style>
	section {
		@apply mx-auto px-0 md:px-10;
	}
</style>
